{% extends "layout.html" %}

{% block content %}
    <h1>{{ producto.nombre}}</h1>
           <div class="card">      
                <div class="card h-100">
                    <a href="producto/{{producto.id}}">
                        <img class="card-img-top" src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <h5>S/ {{producto.precio}}</h5>
                    <p class="card-text">Categoria: {{producto.categoria.nombre}}</p>
                </div>
             
            </div>
           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              
{% endblock%}
